body {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background: #fff4e0;
  background: linear-gradient(180deg, rgba(255, 244, 224, 1) 0%, rgba(255, 218, 185, 1) 100%);
}