.header-container{
  display: flex;
  justify-content: center;
  background-color: white;
  align-items: center;
  gap: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 5px;
}

.logo{
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.header-container h1 {
  font-size: 1.8rem;
  color: #333;
  margin: 0;
}