.summary-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  padding: 20px;
}

.summary-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 100%;
  max-height: 60vh;
  overflow-y: auto;
  overflow: scroll;
  scrollbar-width: none;
  margin-top: 20px;
}

.summary-image{
  width: 100%;
  border-radius: 20px;
  margin: 3px;
}

.reset-button{
  width: 150px;
  border: none;
  border-radius: 10px;
  background-color: coral;
  color: white;
}