.card-container{
  touch-action: pan-y;
  user-select: none;
  margin-top: 30px;
  cursor: grab;
}

.card-container:active {
  cursor: grabbing;
}

.card-img{
  border-radius: 30px;
  pointer-events: none;
}