.summary-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  padding: 0px 20px 10px 20px;
}

.summary-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 100%;
  max-height: 60vh;
  overflow-y: auto;
  overflow: scroll;
  scrollbar-width: none;
  margin-top: 20px;
  padding: 5px;
}

.summary-image{
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.reset-button{
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  background-color:#ecb567;
  color: white;
  margin-top: 25px;
  font-size: 24px;
}

.reset-button:hover{
  background-color: #e8a241;
}

h1,p {
  margin: 10px 0px;
}