.app-container{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  height: 100vh;
  padding: 20px;
  align-items: center;
  
}

h2 {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: #555;
}

p {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 20px;
  color: #666;
  max-width: 600px;
}